.statistics {
    width: 250px;
}

.title {
    padding: 30px;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: gray;
    background-color: white;
}

.stat_list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.item {
    padding: 6px;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.label {
    font-size: 14px;
    color: white;
}

.percentage {
    font-size: 20px;
    color: white;
}