.transaction_history {
    width: 400px;
    

}

.head_block {
    padding: 8px;
    width: calc(100% / 3);
    height: 20px;
    background-color: rgb(29, 189, 201);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.table_row {
    height: 20px;
    font-size: 12px;
    text-align: center;
    color: grey;
}

.table_row:nth-child(odd) {
    background-color: white;
}

.table_row:nth-child(even) {
    background-color: rgb(231, 229, 229);
}

.type::first-letter {
    text-transform: uppercase;
}